:root {
	--max-width: 250px;
}

body, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#toasts-container {
	position: fixed;
	top: 20px;
	right: 20px;
}

#toasts-content {
	display: flex;
	flex-direction: column;
}

#toasts-container.position-left {
	right: unset;
	left: 20px;
	align-items: flex-start;
}

#toasts-container.position-right {
	left: unset;
	right: 20px;
	align-items: flex-end;
}

#toasts-container.position-top {
	bottom: unset;
	top: 20px;
	justify-content: flex-start;
}

#toasts-container.position-bottom {
	top: unset;
	bottom: 20px;
	justify-content: flex-end;
}

.night-mode .toast {
	background-color: rgb(51, 51, 51) !important;
	color: #fff !important;
	border: 0 !important;
}

.toast {
	display: flex;
    justify-content: space-between;
	align-items: unset;
	user-select: none;
	z-index: 10000 !important;
	cursor: pointer;
	top: 0;
	height: auto;
	padding: 10px 25px 10px 25px;
	font-size: 1rem;
	font-weight: 300;
	width: var(--max-width);
	position: relative;
    border: 1px solid rgb(195, 193, 195);
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    background-color: #fff;
	border-radius: .25rem;
    line-height: 1.4;
	font-family: sans-serif;
}

.toast * {
	box-sizing: border-box;
}

.toast:not(:first-of-type) {
	margin-top: 5px;
}

.close-icon {
	min-width: 10px;
	height: 10px;
	padding: 10px;
	position: relative;
	margin-left: 5px;
	margin-right: -15px;
	opacity: 0.6;
	border-radius: 100%;
	background-color: rgb(34, 34, 34);
}

.close-icon:hover {
	opacity: 1;
}

.close-icon:before, .close-icon:after {
	position: absolute;
	left: 9.25px;
    top: 5px;
	content: ' ';
	height: 10px;
	width: 2px;
	background-color: rgb(245, 245, 245);
}

.close-icon:before {
	transform: rotate(45deg);
}

.close-icon:after {
	transform: rotate(-45deg);
}
